<%= form_with(model: chat_message) do |form| %>
  <% if chat_message.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(chat_message.errors.count, "error") %> prohibited this chat_message from being saved:</h2>

      <ul>
        <% chat_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :chat_id, value: chat_message.chat_id %>

  <%= form.label :message %>

  <div class="my-5 flex flex-auto">
    <%= form.text_field :message, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    <%= form.submit "⮚", class: "rounded-lg py-3 px-5 mt-2 ml-2 bg-blue-600 text-white flex items-center font-medium cursor-pointer" %>
  </div>


  <div class="inline" >
  </div>
<% end %>
